/* VARIABLES */

:root {
  --main-font-family: "Poppins", "Arial", sans-serif;
  --main-text-color: #ffffffb3;
  --main-bg-color: #00040F;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --main-line-height: 170%;
}