.info-hero__adv {
  padding: 6px 10px 6px 55px;
  background-image: url('../../images/persent-img.svg'), linear-gradient(125.17deg, #272727 0%, #11101D 100%);
  background-position: left 10px center, left top;
  border-radius: 10px;
}

.hero-word {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: -200px;
    @include psevdoelements(inline-block, 230px, 400px, "");
    background: #FFFFFF;
    filter: blur(200px);
  }
}

.statistics-item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 35px;
  }

  &:nth-child(2) {
    &::before {
      position: absolute;
      top: -15px;
      
      @include psevdoelements(inline-block, 150px, 2px, "");
      background-color: rgb(255, 255, 255, 0.6);
    }
  }

  &:last-child {
    &::before {
      position: absolute;
      top: -15px;
      
      @include psevdoelements(inline-block, 150px, 2px, "");
      background-color: rgb(255, 255, 255, 0.6);
    }
  }
}

.get-started {
  display: inline-block;
  padding: 19px 33px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  border-radius: 10px;
  color: #00040E;
}

.feedback__item {
  &::before {
    margin-bottom: 40px;
    @include psevdoelements(inline-block, 42px, 28px, "");
    background-image: url('../../images/quote.png');
  }
}

@include mobile-first(1024px) {
  .item-filter {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      right: 88%;
      transform: translateY(-20%) rotate(176.62deg);
      @include psevdoelements(inline-block, 425px, 600px, "");
      background: rgba(255, 255, 255, 0.6);
      filter: blur(150px);
    }
  }

  .statistics-item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  
    &:nth-child(2) {
      &::before {
        position: absolute;
        top: initial;
        left: -25px;
        
        @include psevdoelements(inline-block, 2px, 15px, "");
      }
    }
  
    &:last-child {
      &::before {
        position: absolute;
        top: initial;
        left: -25px;
        
        @include psevdoelements(inline-block, 2px, 15px, "");
        background-color: rgb(255, 255, 255, 0.6);
      }
    }
  }
}

@include mobile-first(1280px) {
  .feedback {
    position: relative;
    overflow-x: hidden;

    &::after {
      position: absolute;
      top: 240px;
      left: 90%;
      z-index: 1000;
      @include psevdoelements(block, 176px, 330px, "");
      background-image: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
      filter: blur(160px);
      border-radius: 200px;
      transform: rotate(47.46deg);
    }
  }

  .statistics-item {
    &:nth-child(2) {
      &::before {
        left: -80px;
      }
    }
  
    &:last-child {
      &::before {
        left: -80px;
      }
    }
  }
}